/* html{
    max-width: 100%;
    overflow-x: hidden;
} */

body {
    overflow: auto;
    overflow-x: hidden;
    background-color: #f7d0c9;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
}

#candy {
    font-size: larger;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #ff79a5;
    font-weight: 100;
    font-size: 1.125rem;
}

.navbar.scrolled{
    background: rgb(222, 192, 222);
}

.content{
    margin-top: 40px;
}

@media (max-width: 1392px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}

@media (max-width: 1100px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 1.5rem;
    }
}